p {
    padding-top: 20px;
    text-align: justify
}

b {
    font-weight: bold!important;
}
/* заглавия */


/* стили для h2 */

.news-content h2 {
    padding-top: 5px!important;
    font-size: 27px!important;
    line-height: 1.1!important;
}
.news-content h3 {
    padding-top: 5px!important;
    font-size: 17px!important;
    line-height: 1.1!important;
}
i{font-style: italic !important; }
.title-violet {
    color: #8c3a84;
}

.title-gradient-pink {
    font-weight: 700;
    background: -webkit-linear-gradient(45deg,#ed5799,#8c3a84);
    background: -o-linear-gradient(45deg,#ed5799,#8c3a84);
    background: linear-gradient(45deg,#ed5799,#8c3a84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-pink-inverse {
    font-weight: 700;
    background: -webkit-linear-gradient(45deg,#ed5799,#8c3a84);
    background: -o-linear-gradient(45deg,#ed5799,#8c3a84);
    background: linear-gradient(45deg,#ed5799,#8c3a84);
    color: #ffffff;
    border-bottom: 1px solid grey;
}

/* стили для h2--end */

/* стили для h3 */

h3 {
    padding: 20px 0 20px!important;
    font-size:27px!important;
    font-weight:bold!important;
    word-wrap:normal;
}
.title-violet {
    color:#bc4e9c;
}

.title-pink {
    color: #DF5396;
}

/* стили для h3--end */

/* списки */

.news-content ul, ol {
    padding-left: 30px!important;
    font-size: 20px!important;
    line-height: 30px!important;
}

/* списки немаркированные, простой круг */

.list-cirkle li::before {
    content: " ";
    display: inline-block;
    margin: 2px 10px 2px 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    color: #DF5396;
    background: #DF5396;
}

/* списки немаркированные, линия */

.list-pink-line li {
    margin-bottom: 5px;
    padding: 2px 30px;
    border-bottom: 2px solid #DF5396;
}

.list-pink-line li:last-child {
    border-bottom: none;
}

/* списки маркированные */

ol {
    counter-reset: myCounter;
}

.list-cirkle-number li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #DF5396;
    display: inline-block;
    text-align: center;
    margin: 2px 10px 2px 0;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* список нумерованный простой */

.list-number li {
    counter-increment: my-awesome-counter;
}

.list-number li:before {
    content: counter(my-awesome-counter) ". ";
    margin-right: 10px;
    color: #e7437c;
    font-weight: bold;
}

.list-number li:last-child {
    border-bottom: none;
}
/* цитаты */
blockquote {
    max-width: 600px;
    margin: 5px auto 5px!important;
}

blockquote p {
    text-align : center!important;
    font-style: oblique;
}

blockquote cite {
    display: block;
    padding-top: 10px;
    text-align: right;
    font-size: 15px;
    font-style: oblique;
}

/* цитата с линией вверху */

.quote-top-line {
    position: relative;
    padding: 40px 40px 30px!important;
    text-align: center;
    border-top: 3px solid #ffffff;
    background: #FFF4ED;
}

.quote-top-line:before {
    content: "\201C";
    top: 30px;
    position: absolute;
    height: 2px;
    left: 40px;
    right: 40px;
    color: #83d0f5;
    font-size: 45px;
    line-height: .5;
    font-family: serif;
    background: linear-gradient(to right, #83d0f5 45%, transparent 45%, transparent),
        linear-gradient(to right, transparent, transparent 55%, #83d0f5 55%);
}

/* цитата с кружочком */

.quote-cirkle {
    position: relative;
    padding: 30px 30px 30px 90px;
    color: #DF5396;
    font-weight: 300;
}

.quote-cirkle:before {
    content: "\201C";
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: white;
    background: #DF5396;
    border-radius: 50%;
}

/* цитата c полоской сбоку */
.quote-left-line {
    position: relative;
    padding: 30px 30px 30px 50px;
    font-weight: 300;
    border-left: 4px solid #bc4e9c;
}

.quote-left-line:before {
    content: "\201C";
    position: absolute;
    left: 15px;
    top: 5px;
    font-family: Arial;
    color: #bc4e9c;
    font-size: 70px;
}

/* цитаты--end */
