div.comment{    
    width: 600px;
    margin: 0 auto;
}

.comment .date {
    float: right;
    margin: 0 0 0px 0;
	color: #b77a2b;
}
.comment .avatar {
    float: left;
    margin: 0 0 0px 0;
	color: #b77a2b;
}
.comment .name {
    float: left;
    margin: 0 10px;
	color: #b77a2b;
}
.cbody{
    width: 100%;
    min-height: 60px;
}



.cfoot{
    width: 100%;
    background-color: #ccc;
}




