
html {
	font-size: 10px;
}

body {
	font-family: sans-serif;
	overflow-x: hidden;
	color: #6e6168;
}

a:hover {
    text-decoration: none;
}

.d-grid {
	display: grid;
}

/* MENU */

.navbar-courses {
	padding-top: 20px;
}

.navbar-courses.navbar .navbar-brand {
	padding-left: 45px;
	font-size: 23px;
	font-weight: 700;
	color: #45113c;
}


.navbar-courses .dropdown-menu a {
	padding: 4px 24px;
	font-size: 16px;
}

.navbar-courses.navbar .navbar-nav li a.nav-link {
	color: #000;
}

.navbar-courses.navbar .navbar-nav li a.nav-link:after {
	color: #e7437c;
}


.navbar-courses.navbar .navbar-nav li a.nav-link i.fas {
	color: #e7437c;
}

.navbar-courses.navbar .navbar-nav.cities-menu li a.nav-link {
	font-size: 20px;
	font-weight: 500;
}

.navbar-courses .navbar-nav .flip-horizontal {
    transform: scale(-1, 1);
}

.navbar-courses .navbar-nav.main-menu li a.separator,
.navbar-courses .navbar-nav.lang-menu li a.separator {
	padding-left: 0;
	padding-right: 0;
}

.navbar-courses .navbar-nav.main-menu li a.nav-link,
.navbar-courses .navbar-nav.lang-menu li a.nav-link {
	font-weight: 400;
	color: #45113c;
	font-size: 16px;
	opacity: .7;
}

.navbar-courses .navbar-nav.lang-menu li a.nav-link {
	font-weight: 500;
}

.navbar-courses .navbar-nav.lang-menu li a.nav-link.active,
.navbar-courses .xs-menu li a.nav-link.active {
	font-weight: 700;
}

.navbar-courses .navbar-nav.lang-menu {
	display: flex;
}

.navbar-courses .navbar-nav.lang-menu li.active a.nav-link {
	color: #6c757d;
}

.navbar-courses .xs-menu {
	width: 83%;
}

.navbar-courses .xs-menu .navbar-nav li a.nav-link {
	color: #45113c;
}

.navbar-courses .xs-menu .navbar-nav {
	flex-direction: row;
}

.navbar-courses .xs-menu .navbar-nav .phone {
	font-size: 24px;
}

@media (min-width:992px) and (max-width:1199px) {
	.navbar-courses .navbar-nav.main-menu li a.nav-link,
	.navbar-courses .navbar-nav.lang-menu li a.nav-link {
		padding-left: 0.15rem;
		padding-right: 0.15rem;
		font-size: 15px;
	}
}

@media only screen and (max-width:991px) {
	html {
		font-size: inherit;
	}
}

@media only screen and (max-width:768px) {
	.navbar-courses {
		padding: 15px 8px 8px 8px;
	}
	.navbar-courses.navbar .container {
		max-width: 560px
	}
	.navbar-courses.navbar-brand {
		padding-left: 0;
	}
}

/* HEADER */

header .logo {
	width: 100%;
	max-width: 545px;
	padding-top: 29px;
}

header h1.gradient-text {
    padding-top: 19px;
    padding-bottom: 9px;
    font-size: 67px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.074;
}

header .description-text {
	padding-bottom: 26px;
	font-size: 36px;
	color: #6e6168;
}

@media only screen and (max-width:1024px) {
	header h1.gradient-text {
		font-size: 48px;
	}
	header .description-text {
		font-size: 24px;
	}
	header .no-gutters > .col,
	header .no-gutters > [class*="col-"] {
	    padding-right: 0;
	    padding-left: 0;
	}
}

@media only screen and (max-width:768px) {
	header h1.gradient-text {
		font-size: 40px;
	}
	header .description-text {
		font-size: 20px;
	}
}

/* MAIN */

/* courses button */

.wrapper_course_price {
	padding: 0px;
}

.wrapper_course_price.sale_button {
	padding-right: 20px;
	background-color: #fff;
	border-radius: 50px;
	transition: padding 0.3s;
	transition-timing-function: linear;
}

.course__item:hover .wrapper_course_price.sale_button {
	padding-right: 0px;
	padding-left: 20px;
}

.course__item:hover .course__price__price {
	color: #651f65;
}

.course__item .oldprice,
.course__item:hover .newprice {
	display: inline-block;
}

.course__item .newprice,
.course__item:hover .oldprice {
	display: none;
}

/* contacts */

.contacts {
	font-family: sans-serif;
}

.contacts .address img {
	height: 60px;
}

.contacts .viber img {
	height: 53px;
}

.contacts p {
	font-size: 20px;
	margin-bottom: 0;
}

.contacts a {
	color: #e7437c;
}

.contacts .social i {
	margin: 0 10px;
	font-size: 34px;
}

.contacts .social .fa-youtube-square {
    margin-left: 5px;
}
.contacts .social .fa-facebook-square {
	color: #3b5998;
    margin-left: 5px;
}

.contacts .social .fa-instagram {
	color: #e1306c;
    margin-left: 5px;
}

/* FOOTER */

footer #map {
	line-height: 0;
}

footer .return-to-sale {
	margin-top: -80px;
}

footer a.btn {
	padding: 14px 20px;
	font-size: 24px;
	color: #8f2f85 !important;
	border: 0;
	background-color: #ffd800;
}

@media only screen and (max-width:1280px) {
	footer a.btn {
		font-size: 20px;
	}
}

@media only screen and (max-width:812px) {
	footer {
		margin-bottom: 64px;
	}
	footer a.btn {
		font-size: 16px;
	}
}

/* BG */

.courses_ .course__item:first-child {
	background-image: url(/images/wave-dark.png);
}

.courses_ .course__item:first-child:hover {
	background-image: url(/images/wave-light.png);
}

.courses_ .course__item:nth-child(2) {
	background-image: url(/images/wave-dark.png);
}

.courses_ .course__item:nth-child(5) {
	background-image: url(/images/wave-dark.png);
}

.courses_ .course__item:nth-child(5):hover {
	background-image: url(/images/wave-light.png);
}

.courses_ .course__item:nth-child(12) {
	background-image: url(/images/wave-light.png);
}