<?php
if (@!$_SESSION["role"] or @$_SESSION["role"]<600):
header('HTTP/1.0 403 Forbidden');
header("Location:" . WWW_BASE_PATH . "auth/logout");
endif;
?><!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/e66f078689.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="<?=WWW_CSS_PATH ?>theme.css" type="text/css">
	<link rel="stylesheet" href="<?=WWW_CSS_PATH;?>trumbowyg.css">
	<link rel="stylesheet" href="<?=WWW_CSS_PATH;?>summernote-bs4.css">
	<link rel="stylesheet" href="<?=WWW_CSS_PATH;?>datatables/dataTables.bootstrap.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
	<!------ Include the above in your HEAD tag ---------->
	<style>
	    body{background:#f9f9f9;}
	    #wrapper{padding:90px 15px;}
	    .navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
	    .card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
	    .header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
	    .modal-dialog {
		max-width: 800px;
		margin: 1.75rem auto;
	    }
	    .scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
	    }
	    @media(min-width:992px) {
		#wrapper{margin-left: 200px;padding: 90px 15px 15px;}
		.navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:0;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
	    }
	</style>
    </head>
    <body>
	<div id="wrapper">
	    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
		<a class="navbar-brand" href="<?=WWW_ADMIN_PATH?>">control panel</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav side-nav">
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>participated">Подписки
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>moderation">модерация коментариев
			    </a>
			</li>

			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>curses">Курсы</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>packets">Пакеты курсов
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>seminars">Семинары
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>stblocck">Статические блоки
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>video">Видео
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>fidback">Отзывы
			    </a>
			</li>
			<li class="nav-item">
			    <a href="#galery" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle collapsed">Галерея</a>
			    <ul class="list-unstyled collapse" id="galery" style="">
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>galery">Управление файлами</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>galery/curses">привязка к курсу</a>
				</li>
			    </ul>
			</li>
			<li class="nav-item">
			    <a href="#vipusknik" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle collapsed">выпускники</a>
			    <ul class="list-unstyled collapse" id="vipusknik" style="">
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>vipusknik">Управление файлами</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>vipusknik/curses">привязка к курсу</a>
				</li>
			    </ul>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>school">Школы
			    </a>
			</li>
			<li class="nav-item">
			    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle collapsed">настройки</a>
			    <ul class="list-unstyled collapse" id="homeSubmenu" style="">
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>settings/vars">Переменные</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>settings/translation">перевод</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>users">пользователи</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>settings/misto">города</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>settings/gradients">градиенты</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>settings/seo">seo</a>
				</li>
				<li>
				    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>settings/telegram">Телеграм</a>
				</li>
			    </ul>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_ADMIN_PATH?>faqo/" >ЧаВо</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_BASE_PATH?>" target="blanc">сайт (в новом окне)</a>
			</li>

		    </ul>
		    <ul class="navbar-nav ml-md-auto d-md-flex">
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_BASE_PATH?>admin/users">Users</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="<?php echo WWW_BASE_PATH?>auth/logout">Logout</a>
			</li>

		    </ul>
		</div>
	    </nav>
	    <div class="row">
		<div class="col">
		    <div class="card">
			<div class="card-body">
			    <h3><?=$mod_name;?></h3>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row">
		<div class="col">
		    <?php
		    if(isset($_COOKIE['message'])):
		    echo $_COOKIE['message'];
		    endif;
		    ;?>
		    <div class="card">
			<div class="card-body">
			    <?php echo $context;?>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div id="imomodal" class="modal fade" role="dialog" aria-label="Add Image" data-target="" data-dir="<?=$brouse;?>">
	    <div class="modal-dialog modal-xl">
		<div class="modal-content">

		    <!-- Modal Header -->
		    <div class="modal-header">
			<h4 class="modal-title">выбор/загрузка изображений</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    </div>

		    <!-- Modal body -->
		    <div id="modalselect" class="modal-body modal-dialog-scrollable">

		    </div>

		    <!-- Modal footer -->
		    <div class="modal-footer">
			<div class="alert alert-success">
			    <strong>Внимание</strong> файл для загрузки должен быть <?=$lsize?></a>.
			</div>
			<form id="myupload" enctype="multipart/form-data" method="post">
			    <input type="file" name="myfile" id="myfile">
			    <input type="hidden" name="mypath" value="<?=$brouse;?>" id="mypath">
			    <button type="button" id="btnSubmitModal" class="btn btn-info" ><i class="fa fa-upload"></i></button>
			</form>
		    </div>

		</div>
	    </div>
	</div>
	<div id="imageBrouser" class="modal" aria-hidden="false" tabindex="-1" role="dialog" aria-label="Add Image"></div>

	<div class="toast" id="myToast" style="position: absolute; top: 100; right: 0;background-color: #fff;z-index: 1000;" >
	    <div class="toast-header">
		<strong class="mr-auto"><i class="fa fa-grav"></i> link copied!</strong>
		<small>1 сек назад</small>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <div class="toast-body">
		<div>ссылка на курс скопирована в буфер обмена</div>
	    </div>
	</div>
	<div class="toast" id="saved" style="position: absolute; top: 100px ; right: 0px;background-color: #fff;z-index: 1000;" data-autohide="false">
	    <div class="toast-header">
		<strong class="mr-auto"><i class="fa fa-grav"></i> изменения сохранены!</strong>
		<small>1 сек назад</small>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>
	    <div class="toast-body">
		<div>Изменения сохранены</div>
	    </div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="<?=WWW_JS_PATH;?>summernote-bs4.js"></script>
        <script src="<?=WWW_JS_PATH;?>summernote-ru-RU.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
	<script src="<?=WWW_JS_PATH;?>admin/main.js"></script>
        <script type="text/javascript">

            $(function () {

                $('.editor').summernote({
                    height: 200,
                    callbacks: {
                        onImageUpload: function (files)
                        {
                            var $editor = $(this);
                            var data = new FormData();
                            data.append('file', files[0]);
                            $.ajax({
                                url: "<?=WWW_ADMIN_PATH?>fs/editorupload",
                                method: 'POST',
                                data: data,
                                processData: false,
                                contentType: false,
                                success: function (response) {
                                    $editor.summernote('insertImage', response);
                                }
                            });
                        },
                        onImageUploadError: null
                    },
                });

                $('#submitBtn').click(function () {
                    var summernoteContent = $('.summernote').summernote('code');
                    $('#result').val(summernoteContent);
                });
            });
        </script>
	<script src="<?=WWW_JS_PATH;?>admin/datatables.js"></script>

	<script>
            //referer
            function setgrad(targetinput) {

                var start = $('#start').val();
                var middle = $('#middle').val();
                var end = $('#end').val();

                switch (targetinput) {
                    case 'start':
                        start = $("#" + targetinput).val();
                        break;
                    case 'middle':
                        middle = $("#" + targetinput).val();
                        break;
                    case 'end':
                        end = $("#" + targetinput).val();
                        break;
                }
                console.log('start:' + start + ' midle:' + middle + ' end:' + end);
                $('.edgradient').removeAttr("style");
                var styles = 'background-image:-moz-linear-gradient(0deg,' + start + ' 0%,' + middle + ' 30%, ' + end + ' 100%) !important;'
                        + 'background-image:-webkit-linear-gradient(0deg,' + start + ' 0%,' + middle + ' 30%, ' + end + ' 100%) !important;'
                        + 'background-image:-ms-linear-gradient(0deg,' + start + ' 0%,' + middle + ' 30%, ' + end + ' 100%) !important;';
                console.log(styles);
                $('.edgradient').attr('style', styles);
            }
            ;

            $("#btnSubmitModal").click(function (e) {
                //отправка формы из модального окна
                e.preventDefault(); // блокируем отправку стандартными методами
                var target = $('#imodal').attr('data-target'); //получаем айди поля куда будет записан результат выбора
                //console.log($('#imodal').attr('data-target'); );
                var path = $("#mypath").val()// получаем путь созранения файла
                var data = new FormData(); //создаём экземпляр данных для отправки
                data.append('path', path); //добавляем в него путь
                data.append('target', target); //добавляем в него айди поля получателя
                data.append("userfile", $("#myfile")[0].files[0]); //добавляем файл
                //console.log(data);
                $.ajax({
                    //птправляем форму аяксом
                    url: "<?=WWW_ADMIN_PATH?>fl/",
                    type: "POST",
                    data: data,
                    processData: false, // tell jQuery not to process the data
                    contentType: false,
                    success: function (msg) {
                        $('.iml:last-child').after(msg); //добавляем загруженную картинку в список файлов выбора
                        //$("#myupload").form.reset(); //очищаем форму
                        var $el = $('#myfile');
                        $el.wrap('<form>').closest('form').get(0).reset();
                        $el.unwrap();
                        return true;
                    },
                    complete: function (data) {

                        return true;
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(textStatus);
                        return false;
                    }

                });
            });

            function delFile(bpath, file, pn) {
                var dt = bpath + file;
                var data = {'path': dt};
                //console.log(data);
                $.post("<?=WWW_ADMIN_PATH?>fd/", {'file': dt}).done(function (data) {
                    $('#' + pn).remove();
                    console.log("removed file: " + data);
                });
            }
            ;
            Cookies.set('referer', window.location.pathname);
            //$('.DataTable').DataTable();

            $(document).ready(function () {
                $('select.selectpicker').selectpicker();
                $('.DataTable').DataTable().columns.adjust();
                if (Cookies.get('saved') == 'saved') {
                    //console.log('saved');
                    $("#saved").toast({delay: 3600});
                    $("#saved").toast('show');
                }

            });
            $('.moka').on('click', function () {

                var target = $(this).attr('imt');
                var browse = $('#imomodal').attr('data-dir');
                var Data = {'target': target, 'brouse': browse};
                var targetURL = '<?=WWW_ADMIN_PATH?>fbrowuser/';
                $.ajax({
                    type: "POST",
                    url: targetURL,
                    data: Data,
                    async: true,
                    success: function (data) {
                        $('#modalselect').html(data);
                        return true;
                    },
                    complete: function (data) {
                        return true;
                    },
                    error: function (xhr, textStatus, errorThrown) {

                        return false;
                    }
                });
            });
            function galerist(k, town, curs, photo) {
                if ($('#_' + k).prop('checked')) {
                    var dija = 'add'
                } else {
                    var dija = 'del'
                }
                var targetURL = '/ajax/gal/';
                $.ajax({
                    type: "POST",
                    url: targetURL,
                    data: {'town': town, 'curs': curs, 'photo': photo, 'dija': dija},
                    async: true,
                    success: function (data) {
                        return true;
                    },
                    complete: function (data) {
                        return true;
                    },
                    error: function (xhr, textStatus, errorThrown) {

                        return false;
                    }
                });
            }
            ;
            function vipusknik(k, town, curs, photo) {
                if ($('#_' + k).prop('checked')) {
                    var dija = 'add'
                } else {
                    var dija = 'del'
                }
                var targetURL = '/ajax/vip/';
                $.ajax({
                    type: "POST",
                    url: targetURL,
                    data: {'town': town, 'curs': curs, 'photo': photo, 'dija': dija},
                    async: true,
                    success: function (data) {
                        return true;
                    },
                    complete: function (data) {
                        return true;
                    },
                    error: function (xhr, textStatus, errorThrown) {

                        return false;
                    }
                });
            }
            ;
            $('[name$=_id]').removeAttr('required');
            function setimg(target, files, fwpath) {

                $('#' + target).val(files);
                $('#img-preview-' + target).attr('src', fwpath);
                $('#imomodal').modal('hide');
            }
            ;
            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).attr('data-link')).select();
                //console.log($(element).attr('data-link'));
                document.execCommand("copy");
                $temp.remove();
                $("#myToast").toast({delay: 3000});
                $("#myToast").toast('show');
            }

	</script>
    </body>

</html>
