<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">

	<title></title>

	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="css/main.min.css">
</head>
<body>
<!--Header-->
<header>
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<h5 class="header_title">Сеть учебных центров</h5>
			<div class="dropdown show chose-city">
				<a class="dropdown-toggle chose-city__current" href="#" role="button" id="choseCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Днепр</span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="choseCity">
					<li><a class="" href="#">Киев</a></li>
					<li><a class="" href="#">Запорожье</a></li>
					<li><a class="" href="#">Кривой рог</a></li>
				</ul>
			</div>

			<nav aria-label="breadcrumb" class="d-none d-md-block">
				<ol class="breadcrumb breadcrumb-list">
					<li class="breadcrumb-item breadcrumb-list__item"><a class="breadcrumb-list__link" href="#">Главная</a></li>
					<li class="breadcrumb-item breadcrumb-list__item"><a class="breadcrumb-list__link" href="#">Курсы в днепре </a></li>
					<li class="breadcrumb-item breadcrumb-list__item active" aria-current="page">Практический курс маникюра</li>
				</ol>
			</nav>
			<!--<nav aria-label="breadcrumb">-->
				<!--<ol class="breadcrumb navigation-list">-->
					<!--<li class="breadcrumb-item navigation-list__item"><a class="navigation-list__link" href="#">Отзывы</a></li>-->
					<!--<li class="breadcrumb-item navigation-list__item"><a class="navigation-list__link" href="#">Контакты</a></li>-->
				<!--</ol>-->
			<!--</nav>-->
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb lang-list">
					<li class="breadcrumb-item lang-list__item"><a class="lang-list__link" href="#">Укр</a></li>
					<li class="breadcrumb-item lang-list__item active" aria-current="page">Рус</li>
				</ol>
			</nav>
		</div>
	</div>

</header>
<!--Header end-->
<!--Main section-->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xl-6">
				<img class="logo m-auto m-xl-0" src="img/logo.svg" alt="">
				<h1 class="gradient-text headline text-center text-xl-left">Практический
					<br>курс маникюра</h1>
				<p class="headline__title text-center text-xl-left">Твой <span>успех</span> начинается <span>здесь!</span></p>
				<div class="row">
					<div class="col-12 col-sm-6 d-flex align-items-center about-course">
						<img class="about-course__img" src="img/kalendar.svg" alt="">
						<p class="about-course__text">Учим с
						<br><strong>1999</strong> года</p>
					</div>
					<div class="col-12 col-sm-6 d-flex align-items-center about-course">
						<img class="about-course__img" src="img/krema.svg" alt="">
						<p class="about-course__text">Материалы
							<br><strong>бесплатно</strong></p>
					</div>
					<div class="col-12 col-sm-6 d-flex align-items-center about-course">
						<img class="about-course__img" src="img/people.svg" alt="">
						<p class="about-course__text">Максимум
							<br><strong>практики</strong></p>
					</div>
					<div class="col-12 col-sm-6 d-flex align-items-center about-course">
						<img class="about-course__img" src="img/certificate.svg" alt="">
						<p class="about-course__text">Дипломы
							<br><strong>международного</strong>
							<br>образца</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="close-course">
	<div class="container">
		<div class="row">
			<div class="close-course-block">
				<p class="close-course__headline">Ближайший курс:</p>
				<ul class="d-flex close-course-list">
					<li class="close-course-list__item">
						<div class="close-course-list__block">
							<img class="close-course-list__img" src="img/location-pink.svg" alt="">
						</div>
						<p class="close-course-list__text">Днепр</p>
					</li>
					<li class="close-course-list__item">
						<div class="close-course-list__block">
							<span>16</span>
						</div>
						<p class="close-course-list__text">Октября</p>
					</li>
					<li class="close-course-list__item">
						<div class="close-course-list__block">
							<span>5</span>
						</div>
						<p class="close-course-list__text">Дней</p>
					</li>
				</ul>
			</div>
			<div class="sale">
				<p class="sale__text">Акция! <del>2 200</del> <strong>2000</strong> <span>грн</span></p>
				<button class="sale__btn" data-toggle="modal" data-target="#course">Записаться на курс!</button>
			</div>
			<img class="close-course__img" src="img/girl.png" alt="">
		</div>
	</div>
</section>
<section class="about">
	<div class="row">
		<div class="col-12 col-xl">
			<img class="about__img" src="img/nails.png" alt="">
		</div>
		<div class="col-12 col-xl about-block">
			<h3 class="text-center about-block__headline"><span class="gradient-text">5 простых шагов</span>
				<span class="gradient-block">стать мастером маникюра</span>
				<span class="gradient-text">за 5 дней!</span></h3>
			<ol class="about-list">
				<li class="about-list__item"><span>1.</span> Позвони и получи консультацию</li>
				<li class="about-list__item"><span>2.</span> Пройди наш практический курс маникюра</li>
				<li class="about-list__item"><span>3.</span> Получи скидку 5% на покупку стартового набора</li>
				<li class="about-list__item"><span>4.</span> Через 5 дней начни обслуживать клиентов</li>
				<li class="about-list__item"><span>5.</span> За месяц окупи обучение и зарабатывай больше</li>
			</ol>
			<button class="sale__btn about-block__btn" data-toggle="modal" data-target="#recall">Перезвоните мне!</button>
			<p class="about-block__text">Закажите обратный звонок и наш менаджер перезвонит вам в ближайшее время*</p>
		</div>
	</div>
</section>
<img class="disqus" src="img/disqus.png" alt="">
<section>
	<h2><span class="gradient-text"><span>ПОЧЕМУ</span> ВЫБИРАЮТ НАС ?</span></h2>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-4 why-block">
				<img class="why-block__img" src="img/sova.svg" alt="">
				<h4 class="why-block__headline">ЗНАНИЯ</h4>
				<div class="why-block__line"></div>
				<p class="why-block__text">Управляя сетью салонов
					красоты, мы точно знаем, чему
					тебя научить!</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 why-block">
				<img class="why-block__img" src="img/nagrada.svg" alt="">
				<h4 class="why-block__headline">МАСТЕРСТВО</h4>
				<div class="why-block__line"></div>
				<p class="why-block__text">Наши инструкторы - ведущие мастера
					салонов, победители международных
					конкурсов, профессиональные
					преподаватели.</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 why-block">
				<img class="why-block__img" src="img/people-icon.svg" alt="">
				<h4 class="why-block__headline">ПРАКТИКА</h4>
				<div class="why-block__line"></div>
				<p class="why-block__text">Курс с ежедневной полноценной
					практикой с 2-3 моделями
					для закрепления навыков.</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 why-block">
				<img class="why-block__img" src="img/all.svg" alt="">
				<h4 class="why-block__headline">ALL INCLUSIVE</h4>
				<div class="why-block__line"></div>
				<p class="why-block__text">В стоимость обучения включена вся
					необходимая косметика и  расходные
					материалы, предоставляется обширная
					база моделей.</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 why-block">
				<img class="why-block__img" src="img/gramota.svg" alt="">
				<h4 class="why-block__headline">АВТОРИТЕТ</h4>
				<div class="why-block__line"></div>
				<p class="why-block__text">Мы выдаем дипломы
					международного образца, наши
					выпускники работают по всему
					миру.</p>
			</div>
			<div class="col-12 col-sm-6 col-lg-4 why-block">
				<img class="why-block__img" src="img/stars.svg" alt="">
				<h4 class="why-block__headline">ТРУДОУСТРОЙСТВО</h4>
				<div class="why-block__line"></div>
				<p class="why-block__text">База вакансий от салонов
					красоты</p>
			</div>
		</div>
	</div>
</section>
<section class="about-school">
	<h2><span class="gradient-text"><span>О нашей</span> Школе</span></h2>
	<div class="about-school-container">
		<div class="row">
			<div class="d-none d-md-block col-md-6 col-lg-7 about-school__block-img">
				<img class="about-school__img" src="img/photo1.png" alt="">
			</div>
			<div class="col-12 col-md-6 col-lg-5 about-school__block about-school__block_bg">
				<h4 class="about-school__headline">ОСНАЩЕНИЕ</h4>
				<p class="about-school__text">Уникальный уровень оснащения
					учебных мест! Каждому предоставляется
					рабочее место, оборудованное по
					стандарту салонов «Ногтевой Сервис».</p>
			</div>
			<div class="w-100"></div>
			<div class="col-12 col-md-6 col-lg-5 about-school__block about-school__block_gradient">
				<h4 class="about-school__headline">ЭРГОНОМИКА</h4>
				<p class="about-school__text">Специально спроектированные классы,
					с мощной вытяжкой. Есть кухня, Wi-Fi,
					мультимедиа.</p>
			</div>
			<div class="d-none d-md-block col-md-6 col-lg-7 about-school__block-img">
				<img class="about-school__img" src="img/photo2.png" alt="">
			</div>
			<div class="w-100"></div>
			<div class="d-none d-md-block col-md-6 col-lg-7 about-school__block-img">
				<img class="about-school__img" src="img/location.png" alt="">
			</div>
			<div class="col-12 col-md-6 col-lg-5 about-school__block about-school__block_bg">
				<h4 class="about-school__headline">РАСПОЛОЖЕНИЕ</h4>
				<p class="about-school__text">Школа в центре Днепра, рядом с
					транспортной развязкой.</p>
			</div>
			<div class="w-100"></div>
			<div class="col-12 col-md-6 col-lg-5 about-school__block about-school__block_gradient">
				<h4 class="about-school__headline">МАГАЗИН</h4>
				<p class="about-school__text">На месте находится  и магазин «Ногтевой
					сервис», где для учащихся действует
					система скидок и специальных
					предложений.</p>
			</div>
			<div class="d-none d-md-block col-md-6 col-lg-7 about-school__block-img">
				<img class="about-school__img" src="img/photo4.png" alt="">
			</div>
			<div class="w-100"></div>
			<div class="d-none d-md-block col-md-6 col-lg-7 about-school__block-img">
				<img class="about-school__img" src="img/photo5.png" alt="">
			</div>
			<div class="col-12 col-md-6 col-lg-5 about-school__block about-school__block_bg">
				<h4 class="about-school__headline">КОНСУЛЬТАЦИИ</h4>
				<p class="about-school__text">Профессиональные консультации
					наших специалистов после обучения
					в Вайбере и ФБ.</p>
			</div>
			<div class="w-100"></div>
			<div class="col-12 col-md-6 col-lg-5 about-school__block about-school__block_gradient">
				<h4 class="about-school__headline">ВИРТУАЛЬНЫЙ ТУР</h4>
				<p class="about-school__text">Виртуальный тур по Учебному центру
					"Ногтевой центр",  Днепр </p>
				<a class="sale__btn about-school__btn" href="">Посмотреть</a>
			</div>
			<div class="d-none d-md-flex justify-content-center align-items-center col-md-6 col-lg-7 about-school__block-img">
				<img class="about-school__img about-school__img_last" src="img/360.svg" alt="">
			</div>
		</div>
	</div>
</section>
<section>
	<h2><span class="gradient-text"><span>Примеры</span> Работ</span></h2>
	<div class="slider">
		<div class="slider1 sliders">
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
		</div>
		<div class="sliders-arrow">
			<img class="slick-prev1" src="img/left.png" alt="">
			<img class="slick-next1" src="img/right.png" alt="">
		</div>
	</div>
</section>
<img class="disqus" src="img/disqus.png" alt="">
<section>
	<h2><span class="gradient-text"><span>Есть</span> Вопрос?</span></h2>
	<div class="container">
		<div class="row">
			<div id="accordion">
				<div class="card">
					<div class="card-header" id="heading1">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
								<span>1.</span>	Какие курсы проходят в вашем учебном центре?
							</button>
						</h5>
					</div>

					<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading2">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
								<span>2.</span>	Цена.
							</button>
						</h5>
					</div>
					<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading3">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
								<span>3.</span>	Дата.
							</button>
						</h5>
					</div>
					<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading4">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
								<span>4.</span>	Продолжительность обучения.
							</button>
						</h5>
					</div>
					<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading5">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
								<span>5.</span>	График занятий.
							</button>
						</h5>
					</div>
					<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="heading6">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
								<span>6.</span>	Какой документ выдается по окончанию курса?
							</button>
						</h5>
					</div>
					<div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading7">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
								<span>7.</span>	Какого образца мы выдаем дипломы (международного?!)
							</button>
						</h5>
					</div>
					<div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading8">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
								<span>8.</span>	Если я никогда этим не занималась, получится ли у меня?
							</button>
						</h5>
					</div>
					<div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading9">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
								<span>9.</span>	Сколько человек в группе?
							</button>
						</h5>
					</div>
					<div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading10">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
								<span>10.</span>	Какие требуются инструменты?
							</button>
						</h5>
					</div>
					<div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading11">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
								<span>11.</span>	Предоставлямем ли мы моделей?
							</button>
						</h5>
					</div>
					<div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading12">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
								<span>12.</span>	Место расположения.
							</button>
						</h5>
					</div>
					<div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading13">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
								<span>13.</span>	Трудоустройство.
							</button>
						</h5>
					</div>
					<div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading14">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
								<span>14.</span>	Возможна ли оплата частями?
							</button>
						</h5>
					</div>
					<div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading15">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
								<span>15.</span>	Где можно ознакомиться с образцами семинаров?
							</button>
						</h5>
					</div>
					<div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading16">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
								<span>16.</span>	Есть ли индивидуальное обучение?
							</button>
						</h5>
					</div>
					<div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading17">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
								<span>17.</span>	Есть ли курс выходного дня?
							</button>
						</h5>
					</div>
					<div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading18">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
								<span>18.</span> Наличие акций.
							</button>
						</h5>
					</div>
					<div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading19">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
								<span>19.</span>	Отзывы о школе.
							</button>
						</h5>
					</div>
					<div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header" id="heading20">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
								<span>20.</span> Оплата на счет.
							</button>
						</h5>
					</div>
					<div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
						<div class="card-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>




			</div>
		</div>
	</div>
</section>
<section class="earnings">
	<h2 class="earnings__headline text-center"><span class="gradient-text">Хочешь зарабатывать еще больше?</span></h2>
	<p class="earnings__title">Стань мастером ‒ универсалом!</p>
	<button class="earnings__btn sale__btn" data-toggle="modal" data-target="#consultation">заказать консультацию</button>
</section>
<section>
	<h2><span class="gradient-text"><span>Наши</span> Выпускники</span></h2>
	<div class="slider">
		<div class="slider2 sliders">
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
			<div><img src="img/slider-photo.png" alt=""></div>
		</div>
		<div class="sliders-arrow">
			<img class="slick-prev2" src="img/left.png" alt="">
			<img class="slick-next2" src="img/right.png" alt="">
		</div>
	</div>
</section>
<img class="disqus" src="img/disqus.png" alt="">
<!--Main section end-->
<!--Footer-->
<footer>
	<div class="container-fluid contacts">
		<div class="row justify-content-between align-items-center contacts">
			<div class="d-flex align-items-center contacts-location">
				<img class="contacts-location__img" src="img/location-pink.svg" alt="">
				<p class="contacts-location__text">ул. Павла Ниринберга, 10 (бывш. ул. Баумана), г.Днепр</p>
			</div>
			<ul class="d-flex align-items-center contacts-list">
				<li class="contacts-list__item">
					<img class="contacts-list__img" src="img/viber.svg" alt="">
				</li>
				<li class="contacts-list__item">
					<a class="contacts-list__link" href="tel:0567940991">(056) 794-09-91</a><span>\</span>
				</li>
				<li class="contacts-list__item">
					<a class="contacts-list__link" href="tel:0972625758">(097) 262-57-58</a><span>\</span>
				</li>
				<li class="contacts-list__item">
					<a class="contacts-list__link" href="tel:0934031613">(093) 403-16-13</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="map"></div>
	<button id="up" class="sale__btn sale__btn_up">вернутся к акции!</button>
	<script>
        function initMap() {
            var uluru = {lat: 48.466055, lng: 35.0554139};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
	</script>
</footer>


<!--Footer end-->
<!--Modal-->
<div class="modal fade" id="course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Записаться на курс</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<label for="name">Ваше Имя</label>
					<input id="name" type="text">
					<label for="email">Ващ email</label>
					<input id="email" type="email">
					<label for="phone">Ващ номер</label>
					<input id="phone" type="number">
					<button class="sale__btn">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="recall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Мы вам перезвоним</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<label for="name1">Ваше Имя</label>
					<input id="name1" type="text">
					<label for="phone1">Ващ номер</label>
					<input id="phone1" type="number">
					<button class="sale__btn">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="consultation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Записаться на консультацию</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<label for="name2">Ваше Имя</label>
					<input id="name2" type="text">
					<label for="email2">Ващ email</label>
					<input id="email2" type="email">
					<label for="phone2">Ващ номер</label>
					<input id="phone2" type="number">
					<label for="question">Оставте вопрос</label>
					<textarea id="question"></textarea>
					<button class="sale__btn">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!--Modal End-->
<script src="js/scripts.min.js"></script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsbFtHBHABfW0hnw9IGrGZ1UqvozCsQQ8&callback=initMap">
</script>

</body>
</html>
